<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
<title>Security Login</title>

</head>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Security JDBC Authentication</h3>
			</div>
			<div class="card-body">
				<form th:action="@{/authenticate}" method="POST">
					<!-- Place for messages: error, alert etc ... -->
					<div class="form-group">
						<div class="col-xs-15">
							<div>
								<!-- Check for login error -->

								<div th:if="${param.error}">

									<div
										class="alert alert-warning alert-dismissible col-xs-offset-1 col-xs-10">
										<a href="#" class="close" data-dismiss="alert"
											aria-label="close">&times;</a><strong>Invalid
											Username/Password </strong>
									</div>

								</div>

								<div th:if="${success}">

									<div
										class="alert alert-success alert-dismissible col-xs-offset-1 col-xs-10">
										<a href="#" class="close" data-dismiss="alert"
											aria-label="close">&times;</a><strong>User
											registered successfully! Please Login </strong>
									</div>

								</div>


								<!-- Check for logout -->

								<div th:if="${param.logout}">

									<div
										class="alert alert-warning alert-dismissible col-xs-offset-1 col-xs-10">
										<a href="#" class="close" data-dismiss="alert"
											aria-label="close">&times;</a><strong>Logged Out!
											Please login again </strong>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" name="username"
							placeholder="username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password"
							placeholder="password">
					</div>

					<div class="input-group form-group">
						<div>
							<input type="submit" value="Login"
								class="btn float-right login_btn">
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a
						th:href="@{/register/showRegistrationForm}">Register</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>

<script>
	$(document).ready(function() {
		// show the alert
		$(".alert").fadeTo(2000, 500).slideUp(500, function() {
			$(".alert").slideUp(500);
		});
	});
</script>

</body>
</html>