<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

<title>Register New User Form</title>

<style>
.error {
	color: red
}
</style>
</head>
<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Register New User</h3>
				</div>
				<div class="card-body">
					<!-- Registration Form -->
					<form th:action="@{/register/processRegistrationForm}"
						th:object="${crmUser}" method="POST" class="form-horizontal">
						<!-- Place for messages: error, alert etc ... -->
						<div class="form-group">
							<div class="col-xs-15">
								<div>
									<!-- Check for registration error -->
									<div th:if="${registrationError}">
										<div
											class="alert alert-danger alert-dismissible col-xs-offset-1 col-xs-10">
											<a href="#" class="close" data-dismiss="alert"
												aria-label="close">&times;</a><strong>
												<ul>
													<li th:text="${registrationError}" />
												</ul>
											</strong>
										</div>
									</div>
								</div>
							</div>

							<!-- Error Fields -->
							<div
								th:if="${#fields.hasErrors('userName') || #fields.hasErrors('password') || #fields.hasErrors('matchingPassword') || #fields.hasErrors('firstName') || #fields.hasErrors('lastName') ||#fields.hasErrors('email') }">
								<div
									class="alert alert-danger alert-dismissible col-xs-offset-1 col-xs-10">
									<a href="#" class="close" data-dismiss="alert"
										aria-label="close">&times;</a><strong>
										<ul>
											<li th:each="err : ${#fields.errors('userName')}"
												th:text="'user name ' + ${err}" />
											<li th:each="err : ${#fields.errors('password')}"
												th:text="'password ' + ${err}" />
											<li th:each="err : ${#fields.errors('matchingPassword')}"
												th:text="'confirm password ' + ${err}" />
											<li th:each="err : ${#fields.errors('firstName')}"
												th:text="'First Name ' + ${err}" />
											<li th:each="err : ${#fields.errors('lastName')}"
												th:text="'Last Name ' + ${err}" />
											<li th:each="err : ${#fields.errors('email')}"
												th:text="'Email Error ' + ${err}" />
										</ul>
									</strong>
								</div>
							</div>
							<!-- User name -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" class="form-control" name="userName"
									th:field="*{userName}" placeholder="userName">

							</div>


							<!-- Password -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" name="password"
									th:field="*{password}" th:errorclass="fieldError"
									placeholder="password">

							</div>

							<!-- Confirm Password -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" th:field="*{matchingPassword}"
									placeholder="confirm password (*)" class="form-control"
									th:errorclass="fieldError" />
							</div>



							<!-- First name -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" th:field="*{firstName}"
									placeholder="first name (*)" class="form-control"
									th:errorclass="fieldError" />
							</div>


							<!-- Last name -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" th:field="*{lastName}"
									placeholder="last name (*)" class="form-control"
									th:errorclass="fieldError" />
							</div>


							<!-- Email -->
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i
										class="fas fa-envelope"></i></span>
								</div>
								<input type="text" th:field="*{email}" placeholder="email (*)"
									class="form-control" th:errorclass="fieldError" />
							</div>



							<!-- Register Button -->
							<div class="input-group form-group">
								<div>
									<button class="btn float-right login_btn" type="submit">Register</button>
								</div>
							</div>
					</form>

				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Already have an account?<a th:href="@{/login}">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			// show the alert
			$(".alert").fadeTo(2000, 500).slideUp(500, function() {
				$(".alert").slideUp(500);
			});
		});
	</script>
</body>
</html>
